@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --soft-red: hsl(10, 79%, 65%);
    --cyan: hsl(186, 34%, 60%);

    --dark-brown: hsl(25, 47%, 15%);
    --medium-brown: hsl(28, 10%, 53%);
    --cream: hsl(27, 66%, 92%);
    --very-pale-orange: hsl(33, 100%, 98%);
}

body {
    font-family: 'DM Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    gap: 1.5rem;
    background-color: var(--cream);
}

.balance-container,
.chart-container {
    padding: 1.5rem 2rem;
    width: 30rem;
    border-radius: 1rem;
    color: var(--very-pale-orange);
}

.circle {
    width: 2.75rem;
    height: 2.75rem;
    background-color: var(--dark-brown);
    border-radius: 50%;
    position: relative;
}

.circle::before {
    content: '';
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
    outline: 2px solid white;
    display: block;
    border-radius: 50%;
    position: absolute;
    left: -1.25rem;
    top: 0.125rem;
}


.chart-container {
    background-color: var(--very-pale-orange);
}

.balance-container {
    background-color: var(--soft-red);
    color: var(--very-pale-orange);
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#balance-amount {
    font-weight: 700;
    font-size: 1.75rem;
}

.balance-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

h1 {
    color: var(--dark-brown);
}

.chart-columns {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 3rem 0 1rem 0;
}

.column {
    width: 3rem;
    height: 100px;
    background-color: var(--soft-red);
    border-radius: 0.5rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.column.blue {
    background-color: var(--cyan);
}

.column.blue:hover {
    background-color: hsla(186, 34%, 60%, 0.75);
}

.column:hover {
    background-color: hsla(10, 79%, 65%, 0.75);
}

.summary-container {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    color: var(--medium-brown);
}

#total-amount {
    font-size: 2.5rem;
    color: var(--dark-brown);
    font-weight: 700;
}

#grow-percentage {
    font-weight: 700;
    color: var(--dark-brown);
}

.grow {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-weight: 300;
    gap: 0.1rem;
    font-size: 18px;
    color: var(--medium-brown);
}

hr {
    border-top: 1px solid var(--cream);
}

.additional-info {
    background-color: var(--dark-brown);
    border-radius: 0.25rem;
    position: absolute;
    color: var(--cream);
    top: -2.5rem;
    font-size: 0.9rem;
    font-weight: 500;
    /* visibility: hidden;
    height: 0; */
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.chart-column-item {
    color: var(--medium-brown);
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.25rem;
}



.column:hover .additional-info {
    visibility: visible;
    opacity: 1;
    padding: 0.5rem;
}

@media (max-width: 550px) {

    .balance-container,
    .chart-container {
        width: 95%;
        padding: 1.5rem;
    }

    .column {
        width: 2.5rem;
    }

    #total-amount {
        font-size: 2rem;
    }

    h1 {
        font-size: 1.5rem;

    }
}

@media (max-width: 450px) {
    .column {
        width: 2.25rem;
    }
}